// Main Colors 
//$theme: #0f0d0b !default;  // Very dark brown, almost black
$theme: #1e1916 !default;  // Very dark brown, almost black
$text: #f0e6d9 !default;   // Light beige for main text
$light-grey: #0f0d0b !default;  // 2c2520 //Slightly lighter than theme for subtle highlights
$dark-grey: #2c2520 !default;   // 5a4d40 // Medium brown for secondary elements
$highlight-grey: #8c7a6b !default;  // Light brown for hover effects
$midnightblue: #e0d6c9 !default;    // Very light beige for maximum contrast
$typewriter: #b3a396 !default;  // Muted light brown for typewriter effect

// Scroll to Top Colors
$stt-stroke: #5a4d40 !default;  // Medium brown, similar to $dark-grey
$stt-circle: #342e29 !default;  // Slightly lighter than theme, similar to $light-grey
$stt-arrow: #8c7a6b !default;   // Light brown, similar to $highlight-grey

// Admonition Colors
$admonition-background: (
  "note": rgba(140, 122, 107, 0.2),     // Light brown
  "info": rgba(176, 156, 127, 0.2),     // Lighter brown
  "tip": rgba(224, 214, 201, 0.2),      // Very light beige
  "success": rgba(144, 172, 102, 0.2),  // Muted green
  "warning": rgba(235, 177, 108, 0.2),  // Muted orange
  "failure": rgba(235, 134, 108, 0.2),  // Muted red
  "danger": rgba(235, 108, 108, 0.2),   // Brighter muted red
  "bug": rgba(235, 108, 171, 0.2),      // Muted pink
) !default;

$admonition-color: (
  "note": #8c7a6b,     // Light brown
  "info": #b09c7f,     // Lighter brown
  "tip": #e0d6c9,      // Very light beige
  "success": #90ac66,  // Muted green
  "warning": #ebb16c,  // Muted orange
  "failure": #eb866c,  // Muted red
  "danger": #eb6c6c,   // Brighter muted red
  "bug": #eb6cab,      // Muted pink
) !default;